<!-- todo: update to form -->
<form class="password-entry-cluster">
    <div class="horizontal-center">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username">
        </mat-form-field>
    </div>
    <div class="horizontal-center">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput [(ngModel)]="password">
        </mat-form-field>
    </div>
    <div class="horizontal-center login-button">
        <button type="submit" mat-button color="primary" (click)="login()">Login</button>
    </div>
</form>
